@model CinemaCore.Models.Films

@{
    ViewData["Title"] = "Создание записи";
}

<div class="row">
    <div class="col-md-4">
        <h3>Добавление фильма</h3>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" />
                <label asp-for="Name" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="GenreId" class ="form-control" asp-items="ViewBag.GenreId"></select>
                <label asp-for="GenreId" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Duration" class="form-control" />
                <label asp-for="Duration" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="FilmProductionId" class ="form-control" asp-items="ViewBag.FilmProductionId"></select>
                <label asp-for="FilmProductionId" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="CountryProductionId" class ="form-control" asp-items="ViewBag.CountryProductionId"></select>
                <label asp-for="CountryProductionId" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="AgeLimit" class="form-control" />
                <label asp-for="AgeLimit" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Description" class="form-control" />
                <label asp-for="Description" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input type="submit" value="Создать" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-primary">Вернуться назад</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
