@model WebCinema.ViewModel.Users.CreateUserViewModel
@{
    ViewData["Title"] = "Добавление нового пользователя";
}

<div class="row">
    <div class="col-md-3">
        <h3>Добавление пользователя</h3>
        <hr />
        <form asp-action="Create" asp-controller="Users">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class = "form-floating mb-3">
                <input type="email" class="form-control" asp-for="Email">
                <label>Почта</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" asp-for="Password" class="form-control">
                <label>Пароль</label>
            </div>
            <div class="form-floating mb-3">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a class=" btn btn-danger" asp-action="Index">Назад</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
