@model CinemaCore.Models.FilmProductions

@{
    ViewData["Title"] = "Удаление компании";
}

<div class="row">
    <div class="col-md-4">
        <h3>Удалить запись?</h3>
        <hr />
        <div class = "col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    
    <form asp-action="Delete" asp-controller="FilmProductions">
        <div class="form-floating mb-3">
            <div class="form-floating mb-3"></div>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a class="btn btn-primary" asp-action="Index">Назад</a>
        </div>
    </form>
</div>
