@model CinemaCore.Models.FilmProductions

@{
    ViewData["Title"] = "Детали";
}

<div class="row">
    <div class="col-md-4">
        <h3>Подробности о кмопании-производителе</h3>
        <hr />
        <div class = "col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <form asp-action="Edit" asp-controller="FilmProductions">
        <div class="form-floating mb-3"></div>
        <div class="form-floating">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Редактировать запись</a> 
            <a class="btn btn-primary" asp-action="Index">Назад</a>
        </div>
    </form>
</div>

