@model CinemaCore.Models.Genres

@{
    ViewData["Title"] = "Редактирование записи";
}

<div class="row">
    <div class="col-md-5">
        <h3>Редактирование записи</h3>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" />
                <label asp-for="Name"></label>
            </div>
            <div class="form-floating">
                <input type="submit" value="Сохранить" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-primary">Назад</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
